mat-toolbar{

    width: 100%;
    height: 10vh;
    top: 0;
    position: absolute;
    display: flex;

    .spacer{

        flex: 1 1 auto;

    }

    h2 {
        font-family: sail;
        margin: 1% 1%;
        font-size: xx-large;    
    }

    .right-buttons{

        justify-content: flex-end;
        float: right;

    }
}

a{
    text-decoration: none;
    color: black;

    a:visited{
        text-decoration: none;  
        color: black;
    }

    mat-icon{
        margin-top: 20%;
    }
}


table{
    margin-top: 12vh;
    width: 100%;
}