<div>
    <mat-toolbar>
        <span>
            <h2> menu </h2>
        </span>
        <span class="spacer"></span>
        <span class="right-buttons">
            <button mat-button (click)="helpRequest()"> Aiuto <mat-icon> help </mat-icon></button>
            <button mat-button  (click)="showOrders()"> I miei Ordini <mat-icon> shopping_cart </mat-icon></button>
        </span>
    </mat-toolbar>
    <mat-grid-list cols="4" rowHeight="25em"> 
        <mat-grid-tile *ngFor='let entry of menuEntries'>
            <mat-card role="group" tabindex="0">
                
                <img mat-card-image [src]="entry['img']" *ngIf="entry['img'].lenght != 0" onerror="this.style.display='none'">
                <mat-card-title> {{ entry['nome'] }} </mat-card-title>
                <mat-card-content> 
                    Tempo Attesa: {{ +entry['tempoPreparazione']*(+entry['ordiniAttivi']+1)/60}} m
                    <br>

                </mat-card-content>
                <mat-card-actions>
                    <button [id]="entry['id']" mat-button (click)="placeOrder(this.entry['id'])" disabled="{{ entry['disponibile'] == '0' }}"> ORDINA</button>
                    <label> {{ entry['costo'] }} &euro;</label>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>