$toolbarHeight: 10vh;

mat-toolbar{

    width: 100%;
    height: $toolbarHeight;
    top: 0;
    position: absolute;
    display: flex;

    h2 {
        float: left;
        font-family: sail;
        margin: 1% 1%;
        font-size: xx-large;    
    }

    .spacer{

        flex: 1 1 auto;

    }

    .right-buttons{

        justify-content: flex-end;
        float: right;
        

        mat-icon{
            margin: 1% 1%;
        }

        .button-label{
            margin-top: -20px;
            display: flex;
        }

        a{
            text-decoration: none;
            color: black;

            a:visited{
                text-decoration: none;  
                color: black;
            }
        }

    }
}

mat-grid-list{

    margin-top: 11vh;

    mat-grid-tile{
        
        mat-card{
            
            width: calc(80% - 0.75px);
            margin-left: 5%;
        
            img{
                object-fit: cover;
                align-content: center;
            }
        
            label{
                margin: 4% 5% 0 0;
                float: right;
            }
        }
    
    }
}

